* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgba(220, 220, 220, 0.856);
    transition: .8s ease all;
}


body.dark{
    background-color: gray;
}
body.dark .card-body{
    background-color: gray;
}
html {
    margin: 0;
    padding: 0;
    border: 0;
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}


#opaco {    
    width: 100vw;
}

 .contenedor{
    /* position: relative;
    display: inline-block; */
    text-align: center;
}


.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.row .col {
    padding-top: 15px;
    padding-bottom: 35px;
}

.header {
    background-color: #02acc7 ;
    margin: 0px;    
}
body.dark .header {
    background-color: #030c0e ;
    margin: 0px;
}

#colortitulo {
    color: white;
}
body.dark #colortitulo {
    color: gray;    
}
body.dark #colortitulo :hover {
    color: rgb(158, 156, 156);
}
body.dark #colorboton {
     color: rgb(140, 140, 145);
 }
.bn {
    filter: grayscale(10);
    transition-delay: 0.8;
}

/* Header  */

.nav-link {
    color: black;
}
body.dark #inicionav {
    color: rgb(183, 185, 201);
}
body.dark #productosnav {
    color: rgb(183, 185, 201);
}
body.dark #nosotrosnav {
    color: rgb(183, 185, 201);
}
body.dark #contactonav {
    color: rgb(183, 185, 201);
}

body.dark .bn {
    filter: grayscale(10) brightness(80%);
    transition-delay: 0.8;
}
 /* Imagen inicio */
 
body.dark img {
    filter: brightness(60%);    
}

#letras {
    font-family: 'Rubik Mono One', sans-serif;
    text-shadow: black 4px 4px;
    display: block ;
    position: absolute;
    text-align: center;
    color: white;
    padding-top: 10%;
}
body.dark #letras {
    color: gray;
    z-index:10;
}

/* #miForm:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
} */


#panytec {
    background-color: #2d436f;
    color: black;  
}
body.dark #panytec {
    background-color: #20335a;    
}


#comu {
    background-color: #81cc76;
}
body.dark #comu {
    background-color: #3d7735;
}

#senso {
    background-color: #f5db57;
}
body.dark #senso {
    background-color: #534810;
}

#sire  {
    background-color: #e16453;
    margin-bottom: 30px;
}
body.dark #sire  {
    background-color: #7a3c34;
    margin-bottom: 30px;
}

body.dark .formu {
    background: gray;
}

#footer{
    position: fixed;
    bottom: 0px;
    background-color: #02acc7;
    height: 50px;    
}
body.dark #footer {
    position: fixed;
    bottom: 0px;
    background-color: #030c0e ;
    height: 50px; 
}

/* .imagenesDark {
    background: rgb(0, 0, 0);
} */

body.dark .form-control{
    background-color: black;
}

#social {
    list-style: none;
    display: flex;
    /* display: none; */
    justify-content: center;
    height: 50px;
    padding-top: 1px;
    margin: o;    
}


/* -----BOTON DARK ------*/

.switch {
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;    
    display: flex;
    outline: none;
}
  
.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;    
    transition: .8s ease all;    
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
  
.switch.active {
    background: orange;
    color: #000;
}
  
  .switch.active::after {
    right: 0;
    left: unset;
}
  
  .switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

@media (max-width: 500px) { 
    #botonesgris { display: none;}    
}

